@model IEnumerable<WebApiClient.DTOs.ShowDto>

@{
    ViewData["Title"] = "Shows";
}

<h1>Shows</h1>


<table class=" table table-hover table-bordered bg-grey text-light">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => TempData["movieName"].ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>

        </tr>
}
    </tbody>
</table>
