@model dynamic

@{
    ViewData["Title"] = "Seats";
}

<div class="movie-container">
    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>
    </ul>

    <div class="seat-container">
        <div class="screen"></div>

        @for (int rows = 0; rows < Model.Rows; rows++)
        {
            <div class="row">
                @for (int seatsPerRow = 0; seatsPerRow < Model.SeatsPerRow; seatsPerRow++)
                {
                    <div class="seat"></div>
                }
            </div>
        }

        <p class="text">
            You have selected <span id="countSpan">0</span> seats for the total price of Rs. <span id="totalSpan">0</span>
        </p>
    </div>
</div>


