@model dynamic

@{
    ViewData["Title"] = "Seats";
}

<div class="movie-container">
    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>
    </ul>
    <form asp-controller="Seats" asp-action="Reserve" method="POST">
        <div class="seat-container">
            <div class="screen"></div>

            @for (int rows = 0; rows < Model.Rows; rows++)
            {
                <div class="row">
                    @for (int collumn = 0; collumn < Model.SeatsPerRow; collumn++)
                    {
                        <div class="seat" id="@rows-@collumn"></div>
                    }
                </div>
            }

            <p class="text">
                You have selected <span id="countSpan">0</span> seats for the total price of <span id="totalSpan">0</span> DKK
            </p>
            <button class="btn btn-primary" type="submit">Reserve</button>


        </div>
    </form>
</div>
   

