/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*Color scheme changes*/
.bg-black{
    background-color: #292929!important;
}

.text-not-pornhub{
    color: #ffa31a;
}


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
h1 {
    padding-top: 5%;
}



header {
    width: 100%;
}


a {
    color:black;
    text-decoration:none;
}

a:hover {
    color:dimgray;
    text-decoration:none;
}

td:hover {
   cursor:pointer;
}


a:active {
    color: dimgray;
    text-decoration: none;
}
    

.bg-black {
    background-color:#222629;
    opacity:0.9;

    
}

.bg-grey {
    background-color: #474B4F;
    opacity:0.8;
    
}

.bg-lightgrey {
    background-color: #6B6E70;
    opacity: 0.8;
}

.btn-confirm {
    color: #ffa31a;
    font-weight: bold;
    border-color: #ffa31a;
}

    .btn-confirm:hover {
        color: #1c1c1c;
        background-color: #ffa31a;
        border-color: #ffa31a;
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #1c1c1c;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.table-row {
    text-decoration: none;
}

header {
    position: relative;
    z-index: 1;
}



/* ASP form changes
-------------------------------------------------- */

/*
.control-label {
    color: white !important;
}

.dropdown-menu a {
    color: black !important;
}
*/
/*
#search {
    z-index: -1;
    position: relative;
}*/


/* Movies table changes
-------------------------------------------------- */

/* Seats page 
    ----------------------------------------------*/
.movie-container {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

    .movie-container select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border: 0;
        padding: 5px 15px;
        margin-bottom: 40px;
        font-size: 14px;
        border-radius: 5px;
    }

.seat-container {
    perspective: 1000px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seat {
    background-color: #808080;
    height: 1.3em;
    width: 1.5rem;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.selected {
    background-color: #ffffff;
}

.occupied {
    background-color: #c00;
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
}

    .showcase li {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

        .showcase li small {
            margin-left: 2px;
        }

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen {
    background: #808080;
    height: 70px;
    width: 70%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(3,3, 3, 0.7);
}

p.text {
    margin: 40px 0;
    color: #ffffff;
}

    p.text span {
        color: #ffa31a;
        font-weight: bold;
        box-sizing: content-box;
    }
-------------------------------------------------- */
img{
    max-height: 200px;
}
.card {
    cursor: pointer;
    
}

.card:hover {
    box-shadow: 0 0 2px 1px rgba(255, 163, 26, 0.5);
}