/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
/*h1 {
    color: white;
}

.background-image {
    background-image: url("../pics/film.jpg");
   

    background-size: cover;

    
}
*/

header {
    width: 100%;
}


/*
a {
  color: white;
  text-decoration:none;
}
a:hover {
    color:lightgray;
    text-decoration:none;
}


a:active {
     color: lightgray;
     text-decoration: none;
 }
    */

.bg-black {
    background-color:#222629;
    opacity:0.9;

    
}

.bg-grey {
    background-color: #474B4F;
    opacity:0.8;
    
}

.bg-lightgrey {
    background-color: #6B6E70;
    opacity: 0.8;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.table-row {
    text-decoration: none;
}

header {
    position: relative;
    z-index: 1;
}



/* ASP form changes
-------------------------------------------------- */

/*
.control-label {
    color: white !important;
}

.dropdown-menu a {
    color: black !important;
}
*/
/*
#search {
    z-index: -1;
    position: relative;
}*/


/* Movies table changes
-------------------------------------------------- */