@model IEnumerable<WebApiClient.DTOs.CinemaDto>

@{
    ViewData["Title"] = "List";
}

<h1>Cinemas found by Movie</h1>


<table class="table bg-secondary">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
      
        </tr>
}
    </tbody>
</table>
