@model dynamic
@{
    ViewData["Title"] = "Confirm";
}

<h1 class="text-not-pornhub">Confirm Booking</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <span>@ViewBag.ErrorMessage</span>
        <form method="post">
            
            <div class="form-group">
                <input type="submit" name="answer " value="Confirm" class="btn btn-primary" />
                <input type="submit" name="answer" value="Decline" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
